<div style="position: relative; overflow: hidden;">
    {{ if .IsNamedParams -}}
    <iframe sandbox="allow-scripts allow-popups" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border:0;"
    src="https://{{ .Get "host" }}/videos/embed/{{ .Get "id" }}?{{ with .Get "title" }}title={{ . }}{{ else }}title=0{{ end }}&{{ with .Get "warning" }}warningTitle={{ . }}{{ else }}warningTitle=0{{ end }}{{ with .Get "subtitle" }}&subtitle={{ . }}{{ end }}&peertubeLink=0" allowfullscreen>
    </iframe>
    {{- else -}}
    <iframe title="Peertube Video" width="560" height="315" src="https://{{ .Get 0 }}/videos/embed/{{ .Get 1 }}" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups allow-forms"></iframe>
    {{- end }}
</div>
