{{ partial "top.html" . }}

<h1>Hackerspace Brussels - HSBXL</h1>

<blockquote>Located in a <a href="https://lioncity.brussels">historical office building</a>, HSBXL is a collaborative community space of about 170 square meters. It's a place for creative and constructive hackers of all kinds – tech enthusiasts, tinkerers, artists, and anyone interested in pushing the boundaries of technology.<br>
<br>
There's a workshop area, a decent electronics lab with over 9000 components, a couple of 3D printers, a library, and lots of tools in our “heavy corner”.<br>
You're always welcome to <a href="/enter/">come over</a> and follow one of the workshops or attend the <a href="/events/techtuesday/">weekly Tuesday meetings</a>, <a href="/events/open-coding-day/">co-working days</a>, hack nights, or other <a href="/events/">events</a>.<br>
<br>
Curious about what of kind tools, devices, and machines we have in our space? Read more on our <a href="/tools/">tools page</a>.</blockquote>

{{ .Content }}
<hr>
<h1>Wat is HSBXL?</h1>
<div>
    <p>Hackerspace Brussels, bekend als HSBXL, is een collaboratieve gemeenschap gevestigd in een historisch kantoorgebouw in Molenbeek, Brussel. De ruimte beslaat ongeveer 170 vierkante meter en is bedoeld voor creatieve en constructieve hackers van allerlei aard—technologie-enthousiastelingen, knutselaars, kunstenaars en iedereen die geïnteresseerd is in het verleggen van technologische grenzen.</p>
    
    <h2>Faciliteiten bij HSBXL</h2>
    <ul>
      <li><strong>Werkplaats:</strong> Een ruimte uitgerust voor diverse projecten en experimenten.</li>
      <li><strong>Elektronicawerkplaats:</strong> Bevat meer dan 9000 componenten voor elektronische projecten.</li>
      <li><strong>3D-printers:</strong> Beschikbaar voor het maken van prototypes en creatieve ontwerpen.</li>
      <li><strong>Lasercutter:</strong> Beschikbaar voor het maken van prototypes en creatieve ontwerpen.</li>
      <li><strong>Bibliotheek:</strong> Een verzameling bronnen voor leden om te raadplegen.</li>
      <li><strong>"Heavy Corner":</strong> Uitgerust met diverse gereedschappen voor zwaardere werkzaamheden.</li>
    </ul>
    
    <h2>Doelstellingen van HSBXL</h2>
    <ul>
      <li><strong>Kennisdeling:</strong> Bevorderen van leren en uitwisselen van kennis tussen leden door middel van workshops, lezingen en gezamenlijke projecten.</li>
      <li><strong>Toegang tot technologie:</strong> Bieden van apparatuur en middelen die individuen thuis mogelijk niet hebben.</li>
      <li><strong>Creativiteit en innovatie stimuleren:</strong> Een omgeving creëren waar mensen kunnen experimenteren en ideeën tot leven kunnen brengen.</li>
      <li><strong>Samenwerking bevorderen:</strong> Opbouwen van een gemeenschap waar mensen met verschillende achtergronden samenwerken en van elkaar leren.</li>
      <li><strong>Open cultuur ondersteunen:</strong> Bevorderen van openheid en transparantie in technologie, met nadruk op vrije software en open hardware.</li>
    </ul>
    
    <h2>Evenementen en Activiteiten</h2>
    <p>HSBXL organiseert regelmatig evenementen zoals:</p>
    <ul>
      <li><strong>TechTuesdays:</strong> Wekelijkse open avonden voor zowel leden als bezoekers.</li>
      <li><strong>Open Coworking Days:</strong> Gelegenheden om samen te werken en ideeën uit te wisselen.</li>
      <li><strong>Workshops en Hackathons:</strong> Sessies gericht op specifieke technologieën of projecten.</li>
    </ul>
    
    <h2>Locatie en Bereikbaarheid</h2>
    <p>HSBXL is gelegen aan <strong>Rue Osseghem 53, 1080 Molenbeek, Brussel, België</strong>. De ruimte bevindt zich in LionCity, een levendige en innovatieve plek in het hart van Brussel, gehuisvest in het voormalige distributiecentrum van Delhaize in Molenbeek. LionCity herbergt een diverse mix van ambachten, ondernemers, sociale projecten, cultuur, sport en stedelijke landbouw.</p>
    <p>De dichtstbijzijnde metrohalte is <strong>Beekkant</strong>, op slechts enkele tientallen meters afstand, waar de meeste metrolijnen in Brussel (1, 5, 2, 6) stoppen. Bij aankomst bij LionCity, als de poort gesloten is, kunt u bellen naar +32 2 880 40 04; een lid zal u dan verder begeleiden.</p>
    
    <h2>Contact</h2>
    <p>Voor vragen kunt u contact opnemen via Matrix op <a href="https://matrix.to/#/#hsbxl:matrix.org" target="_blank">#hsbxl:matrix.org</a>.</p>
    
    <h2>Lidmaatschap</h2>
    <p>Geïnteresseerden kunnen lid worden van HSBXL om toegang te krijgen tot de faciliteiten en deel te nemen aan de gemeenschap. Meer informatie over het lidmaatschap is beschikbaar op de <a href="https://hsbxl.be" target="_blank">officiële website</a>.</p>
    
    <p>HSBXL is een non-profitorganisatie die draait op vrijwilligers en is gebaseerd op waarden zoals openheid, inclusiviteit en de wens om technologie ten goede van de gemeenschap te gebruiken. Iedereen met een nieuwsgierige geest en een passie voor leren is welkom, ongeacht ervaring of achtergrond.</p>
  </div>
  
  <hr>

<h1>C'est quoi, HSBXL?</h1>
<div>
    <p>Hackerspace Brussels, connu sous le nom de HSBXL, est une communauté collaborative située dans un bâtiment historique à Molenbeek, Bruxelles. L'espace s'étend sur environ 170 mètres carrés et est destiné aux hackers créatifs et constructifs de tous horizons—enthousiastes en technologie, bricoleurs, artistes et toute personne intéressée à repousser les limites technologiques.</p>
    
    <h2>Installations à HSBXL</h2>
    <ul>
      <li><strong>Atelier:</strong> Un espace équipé pour divers projets et expérimentations.</li>
      <li><strong>Atelier d'électronique:</strong> Contient plus de 9000 composants pour des projets électroniques.</li>
      <li><strong>Imprimantes 3D:</strong> Disponibles pour créer des prototypes et des conceptions créatives.</li>
      <li><strong>Découpeuse:</strong> Disponibles pour créer des prototypes et des conceptions créatives.</li>
      <li><strong>Bibliothèque:</strong> Une collection de ressources consultables par les membres.</li>
      <li><strong>"Heavy Corner":</strong> Équipé d'outils divers pour les travaux lourds.</li>
    </ul>
    
    <h2>Objectifs de HSBXL</h2>
    <ul>
      <li><strong>Partage de connaissances:</strong> Encourager l'apprentissage et l'échange de savoir entre les membres grâce à des ateliers, des conférences et des projets communs.</li>
      <li><strong>Accès à la technologie:</strong> Fournir des équipements et des ressources que les individus n'ont peut-être pas chez eux.</li>
      <li><strong>Stimuler la créativité et l'innovation:</strong> Créer un environnement où les gens peuvent expérimenter et donner vie à leurs idées.</li>
      <li><strong>Favoriser la collaboration:</strong> Construire une communauté où des personnes de différents horizons collaborent et apprennent les unes des autres.</li>
      <li><strong>Soutenir une culture ouverte:</strong> Promouvoir l'ouverture et la transparence en technologie, en mettant l'accent sur les logiciels libres et le matériel open source.</li>
    </ul>
    
    <h2>Événements et Activités</h2>
    <p>HSBXL organise régulièrement des événements tels que :</p>
    <ul>
      <li><strong>TechTuesdays:</strong> Soirées ouvertes hebdomadaires pour les membres et les visiteurs.</li>
      <li><strong>Journées de coworking ouvertes:</strong> Opportunités pour travailler ensemble et échanger des idées.</li>
      <li><strong>Ateliers et hackathons:</strong> Sessions axées sur des technologies ou projets spécifiques.</li>
    </ul>
    
    <h2>Emplacement et Accessibilité</h2>
    <p>HSBXL est situé au <strong>Rue Osseghem 53, 1080 Molenbeek, Bruxelles, Belgique</strong>. L'espace se trouve à LionCity, un lieu vivant et innovant au cœur de Bruxelles, hébergé dans l'ancien centre de distribution de Delhaize à Molenbeek. LionCity abrite une mixité diversifiée d'artisanat, d'entrepreneurs, de projets sociaux, de culture, de sport et d'agriculture urbaine.</p>
    <p>La station de métro la plus proche est <strong>Beekkant</strong>, à seulement quelques dizaines de mètres, où s'arrêtent la plupart des lignes de métro de Bruxelles (1, 5, 2, 6). À votre arrivée à LionCity, si le portail est fermé, vous pouvez appeler le +32 2 880 40 04 ; un membre vous guidera pour entrer.</p>
    
    <h2>Contact</h2>
    <p>Pour toute question, vous pouvez contacter via Matrix à <a href="https://matrix.to/#/#hsbxl:matrix.org" target="_blank">#hsbxl:matrix.org</a>.</p>
    
    <h2>Adhésion</h2>
    <p>Les personnes intéressées peuvent devenir membres de HSBXL pour accéder aux installations et participer à la communauté. Plus d'informations sur l'adhésion sont disponibles sur le <a href="https://hsbxl.be" target="_blank">site officiel</a>.</p>
    
    <p>HSBXL est une organisation à but non lucratif, gérée par des bénévoles et basée sur des valeurs telles que l'ouverture, l'inclusivité et le désir d'utiliser la technologie au service de la communauté. Toute personne curieuse et passionnée par l'apprentissage est la bienvenue, quel que soit son niveau d'expérience ou ses origines.</p>
  </div>
  
{{ partial "bottom.html" . }}
