
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=3.0">
<meta name="author" content="{{ with .Site.Params.author }}{{ . }}{{ end }}">

<title>{{ .Title }}</title>
{{ hugo.Generator }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.3/jquery-ui.min.js" defer></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $(".accordion").accordion({
            collapsible: true,
            active: false
        });
    });
</script>


<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" rel="stylesheet" type="text/css">
<link href="/css/theme.min.css" rel="stylesheet" type="text/css">
<link rel="icon" href="/images/favicon.svg" />
