{{ partial "top.html" . }}

{{ if .IsPage }}
    <h1>{{ .Title }}</h1>
{{ end }}

{{ partial "breadcrumbs.html" . }}

{{ partial "share.html" . }}

<article>
    {{ if isset .Params "image"}}
        <img class="content_image" src="/images/{{ .Params.image }}">
    {{ end }}
    {{ .Content }}
</article>

<div class="pad">Public pad: <a href="https://etherpad.openstack.org/p/techtuesdayHSBXL">https://etherpad.openstack.org/p/techtuesdayHSBXL</a> </div> 


{{ partial "bottom.html" . }}
